<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">Insect ULB</a>
    </div>

    <div class="navbar-default">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a routerLink="/profile" class="nav-link">Profile</a></li>
        <li class="nav-item"><a routerLink="/captured-insect" class="nav-link">Captured insect</a></li>
        <li class="nav-item"><a routerLink="/place" class="nav-link">Place</a></li>
        <li class="nav-item"><a routerLink="/place-type" class="nav-link">Place Type</a></li>
        <li class="nav-item"><a routerLink="/project" class="nav-link">Project</a></li>
        <li class="nav-item"><a routerLink="/insect" class="nav-link">Insect</a></li>
        <li class="nav-item"><a routerLink="/plant" class="nav-link">Plant</a></li>
        <li class="nav-item"><a routerLink="/users" class="nav-link">Users</a></li>
        <li class="nav-item"><a routerLink="/trap" class="nav-link">Trap</a></li>
        <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a routerLink="/logout" class="nav-link">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>