<div class="container">
    <h1>Add Insect</h1>
    <button class="btn btn-primary">add</button>
    <hr>
    <input type="text" class="form-control" placeholder="Super Family">
    <input type="text" class="form-control" placeholder="Family">
    <input type="text" class="form-control" placeholder="Sub Family">
    <input type="text" class="form-control" placeholder="Tribe">
    <input type="text" class="form-control" placeholder="Genus">
    <input type="text" class="form-control" placeholder="Sub Genus">
    <input type="text" class="form-control" placeholder="Specie">
</div>