<h1>Add/edit Place</h1>
<div class="col-3">
  <input type="text" class="form-control" placeholder="name">
    <select class="custom-select">
      <option selected>Type...</option>
    </select>
    <select class="custom-select">
        <option selected>Town...</option>
      </select>
    <input type="text"class="form-control" placeholder="Code Site">
    <textarea class="form-control" rows="5" placeholder="Comment"></textarea>
    <input type="text" class="form-control" placeholder="latitude lambert 72">
    <input type="text" class="form-control" placeholder="longitude lambert 72">
    <input type="text" class="form-control" placeholder="latitude decimal">
    <input type="text" class="form-control" placeholder="longitude decimal">
    <button class="btn btn-primary">submit</button>
</div>